Code/IceBreakerMiniProject/IceBreakerMiniProject/obj
Code/IceBreakerMiniProject/IceBreakerMiniProject/obj/*
Code/IceBreakerMiniProject/IceBreakerMiniProject/bin/Debug
Code/IceBreakerMiniProject/IceBreakerMiniProject/bin/Debug/*
.vs
Project/IceBreakerMiniProject/Bin/*
Project/IceBreakerMiniProject/_project/*_aspx.xml
.idea