Code/IceBreakerMiniProject/IceBreakerMiniProject/obj
Code/IceBreakerMiniProject/IceBreakerMiniProject/obj/*
Code/IceBreakerMiniProject/IceBreakerMiniProject/bin/Debug
Code/IceBreakerMiniProject/IceBreakerMiniProject/bin/Debug/*
.vs